 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type ="text/css" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    
    <title>UCB Project 3</title>
</head>
<body style="background-color: white">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">

           <a class="navbar-brand logo" href="data.html"> 
            <span class="nav-color">Hot Numbers</span></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://127.0.0.1:5000/" >Home</a> M</li>
            <li><a href="http://127.0.0.1:5000/data" >Data</a></li>
            <li><a href="http://127.0.0.1:5000/graph" >Graph</a></li>
        </ul>
      </div>
    </nav>

     <div class = "container" >
        
            <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                      

                      <form  action ="{{ url_for('graph') }}"  method="post">

                         <p class = "p1">Visualization: 
                         <p>Choose a graph to view: </p>
                            <select id = "graphlist" name = "graphlist">
                                <option value = "Occurances">Occurances of Numbers</option>
                                <option value = "HotNumbers">Hot Numbers</option>
                            </select>  
                            </p>

                        
                        <img src= '/graph' alt="Chart" height="42" width="42">
                        <button type="submit" name = "select" value="Submit" onclick = graph()>Select</button>
                          
                        
                    </form>  

                      


                    </div>
                </div>
            </div>
            </div>
        </div>


      

</body>

</html>